
CODEOWNERS @phillip.record @matthew.huston @blake.burkhart @celkins @gabe @barakstout1 @anthony.butt @idunbarh @zayd.ma @camdon.cady @mclamb @jwsterling @david-bl @hsharma

**/* @root

# Meetings, Agenda, Minutes are owned by the current TOC Chair
meetings/** @camdon.cady
