
CODEOWNERS @abryan562 @phillip.record @matthew.huston @andrew.greene @blakeburkhart @celkins @barakstout1 @tim.gast @anthony.butt @idunbarh @zayd.ma @gabe.scarberry

**/* @root

# Meetings, Agenda, Minutes are owned by the current TOC Chair
meetings/** @andrew.greene 